<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="boom-button">
        <button @Click="bommClick" style="width:25px;height: 25px;">{{ boomvalue }}</button>

    </div>

    <script>
        var boombutton = new Vue({
            el: '#boom-button',
            data: {
                boomvalue: '-',
                hidevalue: '*'
            },
            methods: {
                bommClick: function (){
                    if(this.hidevalue == '-') return;
                    this.boomvalue = this.hidevalue;
                }
            },
            computed: {

            }
        });

        
    </script>
</body>
</html>